* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', 'Roboto';
    background-color: #DBDADA;
}
.container {
    width: 1322px;
    margin: 0 auto;
}
.header {
    background-image: url(../img/photo_2024-04-17_08-05-57.jpg);
}
.nav-bar {
    display: flex;
}
.logo {
    margin: 70px 0 0 59px;
    font-size: 26px;
    font-weight: 700;
    font-family: Montserrat;
    color: #FAF9F0;
}
.number {
    margin: 74px auto 0 355px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    color: #FAF9F0;
    text-decoration: none;
}
.nav-list {
    display: flex;
    margin-top: 34px;
    list-style-type: none;
}
.nav-list-link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #FAF9F0;
    text-decoration: none;
}
.prod-link {
    margin-left: 91px;
}
.we-link {
    margin-left: 69px;
}
.cont-link {
    margin-left: 59px;
}
.offer {
    text-align: center;
}
.da {
    color: #1A1F1E;
    text-decoration: none;
}
.dada {
    background-color: #DBDADA;
    margin-top: 97px;
    margin-bottom: 46px;
    width: 321px;
    height: 58px;
    border: 3px solid #FAF9F0;
    color: #FAF9F0;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    margin-right: 5px;
}
.tye {
    color: #FAF9F0;
    text-decoration: none;
}
.title-offer {
    margin-top: 116px;
    margin-left: 200px;
    width: 900px;
    font-size: 48px;
    font-family: Montserrat;
    font-weight: 600;
    color: #FAF9F0;
}
.subtitle-offer {
    margin-top: 38px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    color: #FAF9F0;
    padding-bottom: 200px;
}
.button-offer {
    margin-top: 97px;
    margin-bottom: 146px;
    background: rgba(128, 128, 128, 0);
    width: 321px;
    height: 58px;
    border: 3px solid #FAF9F0;
    color: #FAF9F0;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
}
.subtitle-dir {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    color: #1A1F1E;
    margin: 66px 0 0 150px;
    width: 1000px;
    text-align: center;
}
.subtitle-dir span {
    font-weight: 900;
}
.line {
    height: 5px;
    margin-left: 59px;
    color: #1A1F1E;
    margin-top: 100px;
}
.subtitle-director {
    margin-top: 22px;
    margin-left: 286px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    color: #1A1F1E;
}
.name-director {
    margin-top: 50px;
    align-items: center;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
}
.wrapper-director {
    display: flex;
}
.img-director {
    margin-top: 20px;
    margin-left: 279px;
}
.design {
    text-align: center;
}
.realize-design {
    margin-top: 150px;
    margin-bottom: 35px;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
}
.button-desidn {
    margin-bottom: 228px;
    background-color: #1A1F1E;
    width: 321px;
    height: 58px;
    color: #FAF9F0;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    border: none;
}
.text-furniture {
    margin-top: 80px;
    text-align: center;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
}
.lala { 
    margin-top: 30px;
}
.create {
    margin-top: 45px;
    text-transform: uppercase;
    padding-bottom: 50px;
    display: block; 
    display: inline-flex;
    flex-direction: column;
    column-count: 2;
    /* align-items: center;  */
    position: relative; 
    left: 50%;
    transform: translate(-50%, 0);  
}
footer {
    background-color: #4C4B45;
    color: #FAF9F0;
    padding-top: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.list-link-footer {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    list-style-type: none;
    color: #FAF9F0;
}
.nav-list-item {
    margin-top: 30px;
    list-style: none;
}
.rights {
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    margin-top: 135px;
}
.buttontutu {
    display: inline-flex;
    flex-direction: column;
}
.button-desidn1 {
    background-color: #1A1F1E;
    width: 321px;
    height: 58px;
    color: #FAF9F0;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    border: none; 
    margin-bottom: 20px;
}  
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .main-iframe {
        height: 600px;
    }
    .button {
        width: 100%;
    }
    .slider-img {
        max-width: 100%;
        object-fit: cover;
    }
    .impro {
        flex-wrap: wrap;
    }
    .impro-merch {
        flex-direction: column;
    }
    .video-mini {
        max-width: 300px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .slider-img {
        height: 100%;
        object-fit: cover;
    }
    .video-mini {
        max-width: 250px;
        margin-left: 10px;
    }
}
.createt {
    margin-bottom: 28px;
    background-color: #1A1F1E;
    width: 321px;
    height: 58px;
    color: #FAF9F0;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    border: none;
}